img{

width: 230px;

}

img,p{

    display:inline-block;

}

p{

    margin: 20px;
    font-size: 20px;
    position: absolute;
}


li{

    margin: 20px;
    font-size: 20px;
    right: 50px;
    

}

.foto1{

    position: absolute;
    display: block;
    left: 1100px;
    border: 5px solid white;

}

.governo{

    margin: 20px;

}

.proxpag{

    margin: 20px;
    font-size: 18px;

}